<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.crm.dao.CustomerOrderMapper">
  <resultMap id="BaseResultMap" type="com.xxxx.crm.vo.CustomerOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cus_id" jdbcType="INTEGER" property="cusId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cus_id, order_no, order_date, address, state, create_date, update_date, is_valid
  </sql>

  <select id="selectByParams"  parameterType="com.xxxx.crm.query.CustomerOrderQuery" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_customer_order
    where is_valid=1 and cus_id=#{cusId}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_customer_order
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--订单详情-->
  <select id="queryCustomerOrderByOrderId" resultType="java.util.Map" parameterType="int">
    select
      o.id,
      o.order_no,
      o.address,
      sum(d.sum) as total,
      case  when o.state = 1 then "已支付"
            else  "未支付" end status
    from t_customer_order o left join  t_order_details d on o.id=d.order_id
    where o.is_valid=1 and o.id=#{orderId}
  </select>

  <!--最后一单的记录-->
  <select id="queryLastCustomerOrderByCusId" resultType="com.xxxx.crm.vo.CustomerOrder">
    select <include refid="Base_Column_List"/> from t_customer_order where cus_id=#{cusId} ORDER BY order_date desc limit 1
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_customer_order
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.xxxx.crm.vo.CustomerOrder">
    insert into t_customer_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cusId != null">
        cus_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="orderDate != null">
        order_date,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cusId != null">
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.crm.vo.CustomerOrder">
    update t_customer_order
    <set>
      <if test="cusId != null">
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null">
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>