<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.crm.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.xxxx.crm.vo.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="acl_value" jdbcType="VARCHAR" property="aclValue" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, module_id, acl_value, create_date, update_date
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_permission
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--角色权限的总数量-->
  <select id="countPermissionByRoleId" resultType="java.lang.Integer">
    select count(1) from t_permission where role_id = #{roleId}
  </select>

  <!--查询已经存在的角色菜单id-->
  <select id="queryRoleHasAllMids" resultType="java.lang.Integer">
    select module_id
    from t_permission
    where role_id=#{roleId}
  </select>

  <!--角色授权-菜单显示控制：根据用户id查询角色id，再根据角色id查询菜单id-->
  <select id="queryUserIdHasRoleIdHasModuleId" parameterType="int" resultType="java.lang.String">
    select distinct p.acl_value
    from t_user_role ur left join t_permission p on ur.role_id = p.role_id
    where ur.user_id = #{userId}
  </select>

  <!--菜单删除-->
  <select id="countPermissionByModuleId" parameterType="int" resultType="java.lang.Integer">
    select count(1) from t_permission where module_id=#{mid}
  </select>
  <delete id="deletePermissionByModuleId" parameterType="int">
    delete from t_permission where module_id=#{mid}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--删除已有的角色记录-->
  <delete id="deletePermissionByRoleId">
    delete from t_permission where role_id=#{roleId}
  </delete>

  <!--批量添加角色授权记录-->
  <insert id="insertBatch" parameterType="list">
    insert into t_permission(role_id,module_id,acl_value,create_date,update_date) values
    <foreach collection="list" separator="," item="item">
      (#{item.roleId},#{item.moduleId},#{item.aclValue},#{item.createDate},#{item.updateDate})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="com.xxxx.crm.vo.Permission">
    insert into t_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="aclValue != null">
        acl_value,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="aclValue != null">
        #{aclValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.crm.vo.Permission">
    update t_permission
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="aclValue != null">
        acl_value = #{aclValue,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>